*{
    box-sizing: border-box;

}
header{
    width: 100%; height: 15%; 
    background-color: black;
    display: inline-flex;
    font-family: Impact;
    font-weight: 100;
    font-size: 30px;
    color: rgb(169, 19, 19);;
    position: sticky;
    z-index: 100;
}
main{ 
    background-color: white;
    width: auto; 
    padding-inline: 150px;
}
#bts{
    background-color: black;
    box-sizing: border-box; 
    display: flex;
    padding-inline: 100px;
    padding-block: 50px;
    margin-block: 20px;
}
#abtus{
    background-color: white;
    box-sizing: border-box;
    display: block;
    padding-block: 50px;
    padding-inline: 70px;
    width: 650px;
}
.prod{
    margin-block: 50px;
    margin-inline: 5%;
    height: auto;
    width: 90%;
    padding-block: 3%; 
    padding-inline: 2%;
    background-color: black;
    display:flex; 
    flex-direction: column;
    
}
.immgs{
    width: 800px;
    padding-bottom: 200px;
}

div{
    /*margin-top: 3%;*/
    background-color: white;
    padding-inline: 0px;
    padding-block: 20px;
    width: 35%; height: auto;
    display:inline-flex; 
    justify-content:flex-start;
}
.infoprod{
    background-color: whitesmoke;
    display: flex;
    width: 100%; 
    height: 100%;
    margin-bottom: 10px;
    transition: .7s; 
    scale: .8;
    
}
.infoprod img{
    margin-block: 70px; margin-inline: 20px;
}
.infoprod:hover{   
    translate: 50px;
}
.prodiv{
    display: inline-block;
    justify-content:flex-start; 
    padding-inline-start: 4%; 
    width: 60%;
}
#infoprod img{ padding-top: 20px;}
#autosp{
    background-color: white;
    display: inline-flex; justify-content: center;
    padding-inline-start: 50px; padding-inline-end: 2px; padding-block: 45px;
}
#infoprod p{
    margin: 5px; font-size: 20px;
}
#infoprod h3{
    margin: 7px; font-size: 25px; font-family: Impact; font-weight: 100;
}

#imgns{
    display: block; 
    background-color: rgb(255, 255, 255);
    padding-block: 3%;
    width: 400px; 
    height: 100%;
    padding-block: 70px;
}
header h1{
    padding-inline: 20px;
    font-weight: 100;
}
header h2{
    padding-top: 60px;
    font-size: 20px;
}
p{
    font-family:  monospace;
    font-size: 20px;
}
h2{
    padding-inline-start: 10px;
    font-family: Impact;
    color: rgb(169, 19, 19);
    font-size: 30px;
    font-weight: 100;
}
h3{
    padding-inline: 10px;
    font-family: Impact;
    color: rgb(169, 19, 19);
    font-size: 25px;
    font-weight: 100;
}
footer{
    width: 100%; height: 10%; 
    background-color: rgb(0, 0, 0);
    text-decoration: none; 
    display: inline-flex;
}
nav{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    margin: 0 auto;
    padding-block: 20px;
}
a{
    color: white;
    font-family: Impact; 
    font-size: 20px;
    text-decoration: none; 
    padding-inline: 40px ; 
    padding-block: 15px ;
    margin-inline: 50px ;
    background-color: rgb(169, 19, 19);
    
}
a:hover{
    background-color:  rgb(240, 19, 19);
    transition: .7s;
    scale: 1.1;
}

.main1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.c_cuenta{
    margin: 2px 0 5px 0;
    border-top: 30px solid black;
    border-bottom: 30px solid black;
    border-right: 60px solid black;
    border-left: 60px solid black;
    width: 600px;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.d_cuenta{
    padding: 5px 0;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ti{
    margin: 5px 0 10px 0;
}
th{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px 15px 0 0;
    font-family: monospace;
    font-size: 20px;
}
label{
    margin-top: 10px;
}
td{
    padding: 5px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    width: 250px;
    height: 50px;
    border: 0;
    background-color: rgb(231, 231, 231);
}
.btn{
    margin-top: 10px;
    width: 200px;
    height: 50px;
    border: 0;
    font-family: Impact;
    color: black;
    font-size: 23px;
    font-weight: 100;
    background-color: rgb(231, 231, 231);
}
